<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airbnb Application</title>
</head>
<body>
<div style="padding: 20px">
    <p>A new request for changing your password has been submitted. Use the following verification code to reset it.</p>
    <p>
        <span>Verification Code: </span>
        <span style="color: darkgreen">
                <span th:text="${message}"></span>
            </span>
    </p>
    <br>
    <p>If it wasn't you, please ignore this message.</p>
</div>
<div>
    <div style="background-color: black; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); box-sizing: border-box; width: 100%; text-align: left;
        font: bold 12px sans-serif; padding: 30px 20px;">
        <div style="display: inline-block; vertical-align: top;">
            <div style="text-align: left;">
                <i style="display: inline-block; background-color: #33383b; color: #ffffff; width: 38px; height: 38px; border-radius: 50%; text-align: center; line-height: 48px; margin: 10px 15px; vertical-align: middle;">
                    <img src="https://i.imgur.com/XYDQSiO.png" style="width: 20px; height: 20px;"/>
                </i>
                <p style="display: inline-block; color: #ffffff; vertical-align: middle; margin: 0;"><a
                        style="color: #00ff00; text-decoration: none;"
                        href="mailto:applicationairbnb@gmail.com">applicationairbnb@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>